@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#menu-h {
    background-color: rgb(37, 37, 39);
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}

#menu-h ul li:last-child a {
    float: right;
    background-color: rgb(24, 139, 233);
}

.tamanho {
    width: 890px;
}
/*.container {
    background-color: rgb(122, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    height: 280px;
    padding-top: 110px;
    width: 100vh;
}

.footer_rodape {
    margin-top: 400px;
}
*/